body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #666699;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(185, 255, 255);
    padding: 30px;
    border-radius: 15px;
    width: 20%;
    color: black;

}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 0px ;
    
}
.inputBox{
    position: relative;
    
}
.inputUser{
    background: none;
    border: 1px solid black;
    outline: none;
    color: black;
    font-size: 15px;
    width: 100%;
    padding: 4px;
    border-radius: 7px;
}


h3{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    font-weight: 100;

}
select{
    background-color:rgba(0, 0, 0, 0.1);
    color: black;
    padding:3px;
    border-radius: 7px;
  }

#data{
    border: none;
    border-radius: 7px;
    padding: 3px;
    outline: none;
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.1) ;
}

#submit{
    background-color: dodgerblue;
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    border: none;
    border-radius: 7px;
    color: white;

}

